@model List<string>
@{
    ViewBag.Title = "Emails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Emails</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>First Name & Email</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item</td>
        </tr>
    }
</table>
